In [12]:
import pandas as pd
import numpy as np

In [13]:
volunteer = pd.read_csv('nyc-services-volunteer-opportunities-csv_csv.csv')
volunteer.head()

,Opportunity_Id,Content_Id,Vol_Requests,Title,Hits,Summary,Is_Priority,Category_Id,Category_Desc,Org_Title,Org_Content_Id,Locality,Zip_Code,URL,Recurrence_Type,Created_Date,Last_Modified_Date,Start_Date,End_Date
0,4996,37004,50,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,False,NaN,NaN,Center For NYC Neighborhoods,4426,NaN,NaN,https:/https://opportunities/4996,onetime,01/13/2011,06/23/2011,07/30/2011,07/30/2011
1,5008,37036,2,Web designer,22,Build a website for an Afghan business,False,1.0,Strengthening Communities,Bpeace,37026,5 22nd St New York NY 10010 (40.7405315227297...,10010.0,https:/https://opportunities/5008,onetime,01/14/2011,01/25/2011,02/01/2011,02/01/2011
2,5016,37143,20,Urban Adventures - Ice Skating at Lasker Rink,62,Please join us and the students from Mott Hall...,False,1.0,Strengthening Communities,Street Project,3001,NaN,10026.0,https:/https://opportunities/5016,onetime,01/19/2011,01/21/2011,01/29/2011,01/29/2011
3,5022,37237,500,Fight global hunger and support women farmers ...,14,The Oxfam Action Corps is a group of dedicated...,False,1.0,Strengthening Communities,Oxfam America,2170,NaN,2114.0,https:/https://opportunities/5022,ongoing,01/21/2011,01/25/2011,02/14/2011,03/31/2011
4,5055,37425,15,Stop 'N' Swap,31,Stop 'N' Swap reduces NYC's waste by finding n...,False,4.0,Environment,Office of Recycling Outreach and Education,36773,NaN,10455.0,https://opportunities/5055,onetime,01/28/2011,02/01/2011,02/05/2011,02/05/2011

In [14]:
volunteer.shape

(664, 19)

### Missing data - rows

Check how many values are missing in the category_desc column using isnull() and sum().
Subset the volunteer dataset by indexing by where category_desc is notnull(), and store in a new variable called volunteer_subset.
Take a look at the .shape attribute of the new dataset, to verify it worked correctly.

In [15]:
volunteer.isnull().sum()

Opportunity_Id          0
Content_Id              0
Vol_Requests            0
Title                   0
Hits                    0
Summary                 0
Is_Priority             0
Category_Id            48
Category_Desc          48
Org_Title               0
Org_Content_Id          0
Locality               70
Zip_Code                6
URL                     0
Recurrence_Type         0
Created_Date          203
Last_Modified_Date      0
Start_Date              0
End_Date                0
dtype: int64

In [16]:
volunteer_subset = volunteer[volunteer['Category_Desc'].notnull()]
volunteer_subset.head(1)

,Opportunity_Id,Content_Id,Vol_Requests,Title,Hits,Summary,Is_Priority,Category_Id,Category_Desc,Org_Title,Org_Content_Id,Locality,Zip_Code,URL,Recurrence_Type,Created_Date,Last_Modified_Date,Start_Date,End_Date
1,5008,37036,2,Web designer,22,Build a website for an Afghan business,False,1.0,Strengthening Communities,Bpeace,37026,5 22nd St New York NY 10010 (40.7405315227297...,10010.0,https:/https://opportunities/5008,onetime,01/14/2011,01/25/2011,02/01/2011,02/01/2011

In [17]:
volunteer_subset.shape

(616, 19)

In [18]:
volunteer.dtypes

Opportunity_Id          int64
Content_Id              int64
Vol_Requests            int64
Title                  object
Hits                    int64
Summary                object
Is_Priority              bool
Category_Id           float64
Category_Desc          object
Org_Title              object
Org_Content_Id          int64
Locality               object
Zip_Code              float64
URL                    object
Recurrence_Type        object
Created_Date           object
Last_Modified_Date     object
Start_Date             object
End_Date               object
dtype: object

### Converting a column type

    - If you take a look at the volunteer dataset types, you'll see that the column hits is type object. 
    - But, if you actually look at the column, you'll see that it consists of integers. 
    - Let's convert that column to type int.

In [19]:
volunteer['Hits'] = volunteer['Hits'].astype('int')
volunteer.dtypes

Opportunity_Id          int64
Content_Id              int64
Vol_Requests            int64
Title                  object
Hits                    int32
Summary                object
Is_Priority              bool
Category_Id           float64
Category_Desc          object
Org_Title              object
Org_Content_Id          int64
Locality               object
Zip_Code              float64
URL                    object
Recurrence_Type        object
Created_Date           object
Last_Modified_Date     object
Start_Date             object
End_Date               object
dtype: object

### Class imbalance

##### Stratified sampling
    - We know that the distribution of variables in the category_desc column in the volunteer dataset is uneven.
    - Stratified sampling is a way to achieve this.

In [74]:
volunteer['Category_Desc'].value_counts()

Strengthening Communities    307
Helping Neighbors in Need    119
Education                     91
Health                        52
Environment                   32
Emergency Preparedness        15
Name: Category_Desc, dtype: int64

In [75]:
# Create a data with all columns except category_desc
volunteer_X = volunteer.drop('Category_Desc', axis=1

# Create a category_desc labels dataset
volunteer_y = volunteer['Category_Desc']

# Use stratified sampling to split up the dataset according to the volunteer_y dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(volunteer_X, volunteer_y, stratify = volunteer_y)

# Print out the category_desc counts on the training y labels
print(y_train['Category_Desc'].value_counts())

SyntaxError: invalid syntax (<ipython-input-75-c32207a48f31>, line 5)

### Standardization

In [22]:
wine = pd.read_csv('wine (1).data.csv',header=0,encoding = 'unicode_escape')

In [23]:
wine.head()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,2.16,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.48,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,1.73,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.73,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,1.87,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [24]:
wine.dtypes

class                              int64
Alcohol                          float64
Malic acid                       float64
Ash                              float64
Alcalinity of ash                float64
Magnesium                          int64
Total phenols                    float64
Flavanoids                       float64
Nonflavanoid phenols             float64
 Proanthocyanins                 float64
Color intensity                  float64
Hue                              float64
OD280/OD315 of diluted wines     float64
Proline                            int64
dtype: object

In [25]:
wine.var()

class                                0.600679
Alcohol                              0.659062
Malic acid                           1.304404
Ash                                  0.075265
Alcalinity of ash                   11.152686
Magnesium                          203.989335
Total phenols                        0.391690
Flavanoids                           0.997719
Nonflavanoid phenols                 0.015489
 Proanthocyanins                     0.327595
Color intensity                      5.374449
Hue                                  0.052245
OD280/OD315 of diluted wines         0.504086
Proline                          99166.717355
dtype: float64

In [26]:
wine.isnull().sum()

class                             0
Alcohol                           0
Malic acid                       10
Ash                               0
Alcalinity of ash                 0
Magnesium                         0
Total phenols                     0
Flavanoids                        0
Nonflavanoid phenols              0
 Proanthocyanins                  0
Color intensity                   0
Hue                               0
OD280/OD315 of diluted wines      0
Proline                           0
dtype: int64

In [27]:
wine['Malic acid'] = wine['Malic acid'].fillna(wine['Malic acid'].mean())

### Modeling without normalizing

    - Let's take a look at what might happen to your model's accuracy if you try to model data without doing some sort of standardization first. 
    - Here we have a subset of the wine dataset. One of the columns, Proline, has an extremely high variance compared to the other columns. 
    - This is an example of where a technique like log normalization would come in handy, which you'll learn about in the next section.

### Knn On non - Scaled data

In [28]:
from sklearn.neighbors import KNeighborsClassifier
train,test = train_test_split(wine)

In [29]:
train_x = train.drop('class',axis =1)
train_y = train[['class']]
test_x = test.drop('class',axis =1)
test_y = test[['class']]

In [30]:
model = KNeighborsClassifier()
model.fit(train_x,train_y)
test_predict = model.predict(test_x)

C:\Users\ramle\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [31]:
from sklearn.metrics import accuracy_score
print(accuracy_score(test_predict,test_y))

0.6222222222222222

### Checking the variance

In [33]:
wine.var()

class                                0.600679
Alcohol                              0.659062
Malic acid                           1.230708
Ash                                  0.075265
Alcalinity of ash                   11.152686
Magnesium                          203.989335
Total phenols                        0.391690
Flavanoids                           0.997719
Nonflavanoid phenols                 0.015489
 Proanthocyanins                     0.327595
Color intensity                      5.374449
Hue                                  0.052245
OD280/OD315 of diluted wines         0.504086
Proline                          99166.717355
dtype: float64

### Log normalization in Python

    - Now that we know that the Proline column in our wine dataset has a large amount of variance, let's log normalize it.

In [34]:
# Print out the variance of the Proline column
print(wine.iloc[:,13].var())

# Apply the log normalization function to the Proline column
wine['Proline_log'] = np.log(wine.iloc[:,13])

# Check the variance of the Proline column again
print(wine['Proline_log'].var())

99166.71735542428
0.17231366191842018

In [35]:
wine.var()

class                                0.600679
Alcohol                              0.659062
Malic acid                           1.230708
Ash                                  0.075265
Alcalinity of ash                   11.152686
Magnesium                          203.989335
Total phenols                        0.391690
Flavanoids                           0.997719
Nonflavanoid phenols                 0.015489
 Proanthocyanins                     0.327595
Color intensity                      5.374449
Hue                                  0.052245
OD280/OD315 of diluted wines         0.504086
Proline                          99166.717355
Proline_log                          0.172314
dtype: float64

### Scaling data - investigating columns

    - We want to use the Ash, Alcalinity of ash, and Magnesium columns in the wine dataset to train a linear model, but it's possible that these columns are all measured in different ways, which would bias a linear model. 
    - Using describe() to return descriptive statistics about this dataset, which of the following statements are true about the scale of data in these columns?

In [36]:
wine.columns

Index(['class', 'Alcohol', 'Malic acid', 'Ash ', 'Alcalinity of ash ',
       'Magnesium ', 'Total phenols ', 'Flavanoids ', 'Nonflavanoid phenols ',
       ' Proanthocyanins ', 'Color intensity ', 'Hue ',
       'OD280/OD315 of diluted wines ', 'Proline ', 'Proline_log'],
      dtype='object')

In [37]:
wine.iloc[:,[3,4,5]].describe()

             Ash   Alcalinity of ash   Magnesium
count  178.000000          178.000000  178.000000
mean     2.366517           19.494944   99.741573
std      0.274344            3.339564   14.282484
min      1.360000           10.600000   70.000000
25%      2.210000           17.200000   88.000000
50%      2.360000           19.500000   98.000000
75%      2.557500           21.500000  107.000000
max      3.230000           30.000000  162.000000

### Scaling data - standardizing columns

    - Since we know that the Ash, Alcalinity of ash, and Magnesium columns in the wine dataset are all on different scales, let's standardize them in a way that allows for use in a linear model.

In [38]:
# Import StandardScaler from scikit-learn
from sklearn.preprocessing import StandardScaler

# Create the scaler
ss = StandardScaler()

# Take a subset of the DataFrame you want to scale 
wine_subset = wine.iloc[:,[3,4,5]]

# Apply the scaler to the DataFrame subset
wine_subset_scaled = pd.DataFrame(ss.fit_transform(wine_subset),columns=wine_subset.columns)

#### Note

    - fit_transform during preprocessing will both fit the method to the data as well as transform the data in a single step.

### Knn on scaled data

In [39]:
x = wine.drop('class',axis =1)
y = wine[['class']]

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(x),columns=x.columns)

In [41]:
df_scaled['class'] = y

In [42]:
df_scaled.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Proline_log,class
0,1.518613,-0.182028,0.232053,-1.169593,1.913905,0.808997,1.034819,-0.659563,1.224884,0.251717,0.362177,1.847920,1.013009,1.063991,1
1,0.246290,-0.796716,-0.827996,-2.490847,0.018145,0.568648,0.733629,-0.820719,-0.544721,-0.293321,0.406051,1.113449,0.965242,1.029723,1
2,0.196879,-0.570728,1.109334,-0.268738,0.088358,0.808997,1.215533,-0.498407,2.135968,0.269020,0.318304,0.788587,1.395148,1.321922,1
3,1.691550,-0.570728,0.487926,-0.809251,0.930918,2.491446,1.466525,-0.981875,1.032155,1.186068,-0.427544,1.184071,2.334574,1.858956,1
4,0.295700,-0.444174,1.840403,0.451946,1.281985,0.808997,0.663351,0.226796,0.401404,-0.319276,0.362177,0.449601,-0.037874,0.168063,1

In [43]:
from sklearn.neighbors import KNeighborsClassifier
train,test = train_test_split(df_scaled)

In [44]:
train_x = train.drop('class',axis =1)
train_y = train[['class']]
test_x = test.drop('class',axis =1)
test_y = test[['class']]

In [45]:
model = KNeighborsClassifier()
model.fit(train_x,train_y)
test_predict = model.predict(test_x)

C:\Users\ramle\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [46]:
from sklearn.metrics import accuracy_score
print(accuracy_score(test_predict,test_y))

0.9777777777777777

In [47]:
import json
hiking = pd.read_json('hiking.json')
hiking.head()

,Accessible,Difficulty,Length,Limited_Access,Location,Name,Other_Details,Park_Name,Prop_ID,lat,lon
0,Y,None,0.8 miles,N,"Enter behind the Salt Marsh Nature Center, loc...",Salt Marsh Nature Trail,<p>The first half of this mile-long trail foll...,Marine Park,B057,NaN,NaN
1,N,Easy,1.0 mile,N,Enter Park at Lincoln Road and Ocean Avenue en...,Lullwater,Explore the Lullwater to see how nature thrive...,Prospect Park,B073,NaN,NaN
2,N,Easy,0.75 miles,N,Enter Park at Lincoln Road and Ocean Avenue en...,Midwood,Step back in time with a walk through Brooklyn...,Prospect Park,B073,NaN,NaN
3,N,Easy,0.5 miles,N,Enter Park at Lincoln Road and Ocean Avenue en...,Peninsula,Discover how the Peninsula has changed over th...,Prospect Park,B073,NaN,NaN
4,N,Easy,0.5 miles,N,Enter Park at Lincoln Road and Ocean Avenue en...,Waterfall,Trace the source of the Lake on the Waterfall ...,Prospect Park,B073,NaN,NaN

In [48]:
hiking.columns

Index(['Accessible', 'Difficulty', 'Length', 'Limited_Access', 'Location',
       'Name', 'Other_Details', 'Park_Name', 'Prop_ID', 'lat', 'lon'],
      dtype='object')

In [49]:
hiking.shape

(33, 11)

### Feature Engineering

#### Encoding categorical variables - binary
    - Take a look at the hiking dataset. 
    - There are several columns here that need encoding, one of which is the Accessible column, which needs to be encoded in order to be modeled.
    - Accessible is a binary feature, so it has two values - either Y or N 
    - so it needs to be encoded into 1s and 0s. Use scikit-learn's LabelEncoder method to do that transformation.

In [50]:
from sklearn.preprocessing import LabelEncoder
# Set up the LabelEncoder object
enc = LabelEncoder()

# Apply the encoding to the "Accessible" column
hiking['Accessible_enc'] = enc.fit_transform(hiking['Accessible'])

# Compare the two columns
print(hiking[['Accessible_enc', 'Accessible']].head())

   Accessible_enc Accessible
0               1          Y
1               0          N
2               0          N
3               0          N
4               0          N

### Encoding categorical variables - one-hot
    - when we have more than two categories in the column

In [51]:
# Transform the category_desc column
category_enc = pd.get_dummies(volunteer['Category_Desc'])

# Take a look at the encoded columns
category_enc.head()

,Education,Emergency Preparedness,Environment,Health,Helping Neighbors in Need,Strengthening Communities
0,0,0,0,0,0,0
1,0,0,0,0,0,1
2,0,0,0,0,0,1
3,0,0,0,0,0,1
4,0,0,1,0,0,0

### Engineering numerical features - taking an average

    - A good use case for taking an aggregate statistic to create a new feature is to take the mean of columns.
    - Here, you have a DataFrame of running times named running_times_5k.
    - For each name in the dataset, take the mean of their 5 run times.

    name  run1  run2  run3  run4  run5   mean
0      Sue  20.1  18.5  19.6  20.3  18.3  19.36
1     Mark  16.5  17.1  16.9  17.6  17.3  17.08
2     Sean  23.5  25.1  25.2  24.6  23.9  24.46
3     Erin  21.7  21.1  20.9  22.1  22.2  21.60
4    Jenny  25.8  27.1  26.1  26.7  26.9  26.52
5  Russell  30.9  29.6  31.4  30.4  29.9  30.44

In [ ]:
# Create a list of the columns to average
run_columns= ['run1',  'run2',  'run3',  'run4',  'run5']

# Use apply to create a mean column
running_times_5k["mean"] = running_times_5k.apply(lambda row: row[run_columns].mean(), axis= 1)

# Take a look at the results
print(running_times_5k.head)

### Engineering numerical features - datetime

    - There are several columns in the volunteer dataset comprised of datetimes. 
    - Let's take a look at the start_date_date column and extract just the month to use as a feature for modeling.

In [54]:
# First, convert string column to date column
volunteer["start_date_converted"] = pd.to_datetime(volunteer['Start_Date'])

# Extract just the month from the converted column
volunteer["start_date_month"] = volunteer['start_date_converted'].apply(lambda row: row.month)

# Take a look at the converted and new month columns
print(volunteer[['start_date_converted', 'start_date_month']].head())

  start_date_converted  start_date_month
0           2011-07-30                 7
1           2011-02-01                 2
2           2011-01-29                 1
3           2011-02-14                 2
4           2011-02-05                 2

### Engineering features from strings - extraction

In [55]:
hiking.head()

,Accessible,Difficulty,Length,Limited_Access,Location,Name,Other_Details,Park_Name,Prop_ID,lat,lon,Accessible_enc
0,Y,None,0.8 miles,N,"Enter behind the Salt Marsh Nature Center, loc...",Salt Marsh Nature Trail,<p>The first half of this mile-long trail foll...,Marine Park,B057,NaN,NaN,1
1,N,Easy,1.0 mile,N,Enter Park at Lincoln Road and Ocean Avenue en...,Lullwater,Explore the Lullwater to see how nature thrive...,Prospect Park,B073,NaN,NaN,0
2,N,Easy,0.75 miles,N,Enter Park at Lincoln Road and Ocean Avenue en...,Midwood,Step back in time with a walk through Brooklyn...,Prospect Park,B073,NaN,NaN,0
3,N,Easy,0.5 miles,N,Enter Park at Lincoln Road and Ocean Avenue en...,Peninsula,Discover how the Peninsula has changed over th...,Prospect Park,B073,NaN,NaN,0
4,N,Easy,0.5 miles,N,Enter Park at Lincoln Road and Ocean Avenue en...,Waterfall,Trace the source of the Lake on the Waterfall ...,Prospect Park,B073,NaN,NaN,0

In [ ]:
import re
# Write a pattern to extract numbers and decimals
def return_mileage(length):
    pattern = re.compile(r"\d+\.\d+")
    
    # Search the text for matches
    mile = re.match(pattern, length)
    
    # If a value is returned, use group(0) to return the found value
    if mile is not None:
        return float(mile.group(0))
        
# Apply the function to the Length column and take a look at both columns
hiking["Length_num"] = hiking["Length"].apply(lambda row: return_mileage(row))
print(hiking[["Length", "Length_num"]].head())

In [ ]:
volunteer.columns

### Engineering features from strings - tf/idf
Let's transform the volunteer dataset's title column into a text vector, to use in a prediction task in the next exercise.

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer
# Take the title text
title_text = volunteer['Title']

# Create the vectorizer method
tfidf_vec = TfidfVectorizer()

# Transform the text into tf-idf vectors
text_tfidf = tfidf_vec.fit_transform(title_text)

### Text classification using tf/idf vectors

    - Now that we've encoded the volunteer dataset's title column into tf/idf vectors, let's use those vectors to try to predict the category_desc column.

In [ ]:
# Split the dataset according to the class distribution of category_desc
volunteer_y = volunteer[['Category_Desc']]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(text_tfidf.toarray(), volunteer_y, stratify= volunteer_y)

#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Fit the model to the training data
model.fit(X_train, y_train)

# Print out the model's accuracy
print(model.score(X_test,y_test))

### Feature_Selection

In [59]:
volunteer.corr()

,Opportunity_Id,Content_Id,Vol_Requests,Hits,Is_Priority,Category_Id,Org_Content_Id,Zip_Code,start_date_month
Opportunity_Id,1.000000,0.934123,-0.057854,-0.210478,0.090540,0.167295,0.071100,0.032376,0.213386
Content_Id,0.934123,1.000000,-0.053363,-0.205621,0.105568,0.200715,0.013637,0.041467,0.190070
Vol_Requests,-0.057854,-0.053363,1.000000,0.039415,0.025604,-0.023236,-0.004903,-0.011329,0.004984
Hits,-0.210478,-0.205621,0.039415,1.000000,0.482129,0.137030,-0.036525,-0.014812,0.005431
Is_Priority,0.090540,0.105568,0.025604,0.482129,1.000000,0.318275,-0.139350,-0.003817,0.091098
Category_Id,0.167295,0.200715,-0.023236,0.137030,0.318275,1.000000,-0.131680,0.085496,0.041946
Org_Content_Id,0.071100,0.013637,-0.004903,-0.036525,-0.139350,-0.131680,1.000000,-0.035935,0.060282
Zip_Code,0.032376,0.041467,-0.011329,-0.014812,-0.003817,0.085496,-0.035935,1.000000,0.058499
start_date_month,0.213386,0.190070,0.004984,0.005431,0.091098,0.041946,0.060282,0.058499,1.000000

### Selecting relevant features
    - Now that you've identified redundant columns in the volunteer dataset, let's perform feature selection on the dataset to return a DataFrame of the relevant features.

In [60]:
# Create a list of redundant column names to drop
to_drop = volunteer.iloc[:,[2,8,11,15]]

# Drop those columns from the dataset
volunteer_subset = volunteer.drop(to_drop, axis=1)

# Print out the head of the new dataset
print(volunteer_subset.head(1))

   Opportunity_Id  Content_Id  \
0            4996       37004

                                               Title  Hits  \
0  Volunteers Needed For Rise Up & Stay Put! Home...   737

                                             Summary  Is_Priority  \
0  Building on successful events last summer and ...        False

   Category_Id                     Org_Title  Org_Content_Id  Zip_Code  \
0          NaN  Center For NYC Neighborhoods            4426       NaN

                                 URL Recurrence_Type Last_Modified_Date  \
0  https:/https://opportunities/4996         onetime         06/23/2011

   Start_Date    End_Date start_date_converted  start_date_month
0  07/30/2011  07/30/2011           2011-07-30                 7

In [61]:
volunteer.columns

Index(['Opportunity_Id', 'Content_Id', 'Vol_Requests', 'Title', 'Hits',
       'Summary', 'Is_Priority', 'Category_Id', 'Category_Desc', 'Org_Title',
       'Org_Content_Id', 'Locality', 'Zip_Code', 'URL', 'Recurrence_Type',
       'Created_Date', 'Last_Modified_Date', 'Start_Date', 'End_Date',
       'start_date_converted', 'start_date_month'],
      dtype='object')

### Checking for correlated features
    - Let's take a look at the wine dataset again, which is made up of continuous, numerical features. Run Pearson's correlation coefficient on the dataset to determine which columns are good candidates for eliminating. Then, remove those columns from the DataFrame.

In [62]:
wine.corr()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Proline_log
class,1.000000,-0.328222,0.446159,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717,-0.569246
Alcohol,-0.328222,1.000000,-0.112755,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720,0.637325
Malic acid,0.446159,-0.112755,1.000000,0.121759,0.365493,-0.054432,-0.325172,-0.371340,0.315806,-0.207111,0.128887,-0.361964,-0.369285,-0.215564,-0.185750
Ash,-0.049643,0.211545,0.121759,1.000000,0.443367,0.286587,0.128980,0.115077,0.186230,0.009652,0.258887,-0.074667,0.003911,0.223626,0.238394
Alcalinity of ash,0.517859,-0.310235,0.365493,0.443367,1.000000,-0.083333,-0.321113,-0.351370,0.361922,-0.197327,0.018732,-0.273955,-0.276769,-0.440597,-0.416897
Magnesium,-0.209179,0.270798,-0.054432,0.286587,-0.083333,1.000000,0.214401,0.195784,-0.256294,0.236441,0.199950,0.055398,0.066004,0.393351,0.424006
Total phenols,-0.719163,0.289101,-0.325172,0.128980,-0.321113,0.214401,1.000000,0.864564,-0.449935,0.612413,-0.055136,0.433681,0.699949,0.498115,0.431205
Flavanoids,-0.847498,0.236815,-0.371340,0.115077,-0.351370,0.195784,0.864564,1.000000,-0.537900,0.652692,-0.172379,0.543479,0.787194,0.494193,0.410494
Nonflavanoid phenols,0.489109,-0.155929,0.315806,0.186230,0.361922,-0.256294,-0.449935,-0.537900,1.000000,-0.365845,0.139057,-0.262640,-0.503270,-0.311385,-0.275675
Proanthocyanins,-0.499130,0.136698,-0.207111,0.009652,-0.197327,0.236441,0.612413,0.652692,-0.365845,1.000000,-0.025250,0.295544,0.519067,0.330417,0.290203
Color intensity,0.265668,0.546364,0.128887,0.258887,0.018732,0.199950,-0.055136,-0.172379,0.139057,-0.025250,1.000000,-0.521813,-0.428815,0.316100,0.348970
Hue,-0.617369,-0.071747,-0.361964,-0.074667,-0.273955,0.055398,0.433681,0.543479,-0.262640,0.295544,-0.521813,1.000000,0.565468,0.236183,0.173593
OD280/OD315 of diluted wines,-0.788230,0.072343,-0.369285,0.003911,-0.276769,0.066004,0.699949,0.787194,-0.503270,0.519067,-0.428815,0.565468,1.000000,0.312761,0.254218
Proline,-0.633717,0.643720,-0.215564,0.223626,-0.440597,0.393351,0.498115,0.494193,-0.311385,0.330417,0.316100,0.236183,0.312761,1.000000,0.977423
Proline_log,-0.569246,0.637325,-0.185750,0.238394,-0.416897,0.424006,0.431205,0.410494,-0.275675,0.290203,0.348970,0.173593,0.254218,0.977423,1.000000

In [ ]:
# Take a minute to find the column where the correlation value is greater than 0.75 at least twice
to_drop = wine.iloc[:,7]

# Drop that column from the DataFrame
wine = wine.drop(to_drop, axis =1)

### Using PCA
    - Let's apply PCA to the wine dataset, to see if we can get an increase in our model's accuracy.

In [64]:
wine.columns

Index(['class', 'Alcohol', 'Malic acid', 'Ash ', 'Alcalinity of ash ',
       'Magnesium ', 'Total phenols ', 'Flavanoids ', 'Nonflavanoid phenols ',
       ' Proanthocyanins ', 'Color intensity ', 'Hue ',
       'OD280/OD315 of diluted wines ', 'Proline ', 'Proline_log'],
      dtype='object')

In [65]:
wine.shape

(178, 15)

In [66]:
from sklearn.decomposition import PCA

# Set up PCA and the X vector for diminsionality reduction
pca = PCA()
wine_X = wine.drop("class", axis=1)

# Apply PCA to the wine dataset X vector
transformed_X = pca.fit_transform(wine_X)

# Look at the percentage of variance explained by the different components
print(pca.explained_variance_ratio_)

[9.98091443e-01 1.73592378e-03 9.52828466e-05 4.93378214e-05
 1.27114442e-05 8.16492196e-06 2.96792109e-06 1.54610090e-06
 1.12688922e-06 7.24400971e-07 3.84939654e-07 2.44953007e-07
 8.24003718e-08 5.88440562e-08]

### Training a model with PCA
Now that we have run PCA on the wine dataset, let's try training a model with it.

In [80]:
y = wine['class']
# Split the transformed X and the y labels into training and test sets
X_wine_train, X_wine_test, y_wine_train, y_wine_test = train_test_split(transformed_X,y)

# Fit knn to the training data
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_wine_train,y_wine_train)

# Score knn on the test data and print it out
knn.score(X_wine_test,y_wine_test)

0.6888888888888889